<!DOCTYPE html>
<html>
  <head>
    <title>GradesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-light" href="/">Canyon's Portfolio</a>
    <form class="form-inline">
    <% if user_signed_in? %>
    <div class="text-nowrap text-light" style="padding-right: 10px;">
      Logged in as <strong><%= current_user.email %></strong>
    </div>
      <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-success" %> 
      <div style="padding-left: 10px;">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      </div>
  
  
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-success" %>
      <div style="padding-left: 10px;">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
      </div>
    <% end %>
    </form>
  </nav>

    <%= yield %>
  </body>
</html>
